<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about?name=Pinco">About</a></li>
                <li><a href="contacts">Contacts</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 th:text="|Ciao: ${name}|" />
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse facilis omnis atque? Accusamus molestias facere
            possimus illo molestiae quis inventore? Possimus totam in ducimus architecto culpa necessitatibus pariatur
            facilis eum minus praesentium non corporis laboriosam neque doloribus velit est quae maiores odio, nostrum
            cum. Laborum voluptas earum autem sunt sed, praesentium, animi dolorum ab maxime eum magnam qui libero esse
            dicta tempore necessitatibus quaerat molestiae culpa omnis, nihil cupiditate doloremque nisi hic natus.
            Voluptas maiores porro nobis animi veniam quaerat vel numquam tempora aperiam amet aliquam perferendis illum
            eum, quae architecto cumque officia nulla odio in similique corrupti distinctio! Enim a non unde perferendis
            veniam. Sequi officia earum quo vel quod perferendis est reiciendis fugit labore, cumque dolorum, omnis
            assumenda consectetur? Molestiae similique excepturi distinctio praesentium beatae nobis pariatur
            perferendis laboriosam adipisci exercitationem! Aliquid nihil dolor magnam aliquam ullam, quae tempora
            ducimus ut doloribus ea vel deserunt veritatis commodi incidunt voluptatem! Incidunt aliquid itaque dolores
            quasi. Numquam in vel doloribus minus, ipsa dicta aliquid nesciunt rerum nobis aperiam iste autem suscipit
            maxime quia nisi unde delectus repellat illum quos aut, perspiciatis, tempora provident corporis. Eaque
            voluptas magnam quidem provident laudantium. Non harum voluptate animi dicta molestias neque autem
            praesentium perferendis perspiciatis in illo ratione quibusdam quas alias quae, accusantium aperiam amet
            quisquam porro magni repellendus. Facere fuga tenetur numquam consectetur deserunt debitis? Sint, iste
            possimus debitis quis mollitia tempora quibusdam soluta quasi consequatur voluptatem. Vel adipisci laborum,
            et numquam debitis blanditiis dignissimos fugit ipsum consectetur nam repellendus excepturi, voluptatum
            aliquam fuga autem! Iste, illum. Repellat sequi aliquid asperiores eos corrupti iste quasi quia dolores et
            omnis ab animi eum officiis est rerum magni eius aut quisquam similique, totam voluptatem in suscipit.
            Dolore iste ex ratione dolorem, consequatur cupiditate omnis cum, architecto in consequuntur soluta? Debitis
            sequi excepturi repellat porro id consequatur aperiam velit vitae exercitationem libero? Sunt culpa minus
            suscipit velit doloremque dolores est cum, ipsum illum fugiat minima asperiores dolore sapiente, delectus,
            sequi aspernatur impedit ea? Debitis mollitia doloremque ab, quam blanditiis amet eaque id quibusdam dolores
            temporibus! Sed, voluptatibus iste placeat unde eos, illum quae quia vel illo, dolorem officiis animi quod
            debitis numquam a. Doloribus nobis ex molestias in nam voluptas similique officiis minima ab ipsum quos
            dicta, corrupti dolor cupiditate autem debitis saepe maiores quae, minus nulla culpa fugiat! Minus cumque
            veritatis, itaque debitis fugit explicabo aperiam, nam eligendi amet accusantium reprehenderit voluptate
            incidunt. Architecto ipsum, placeat sapiente laudantium rerum error deleniti ex voluptatem, in
            necessitatibus magnam ratione beatae quia eius molestias natus nihil accusamus. Ab nesciunt fugit amet
            tenetur harum, eum suscipit ullam, sit dolore nostrum assumenda porro, reiciendis enim delectus fuga
            repellat? Nesciunt fugit quod placeat aliquam vitae vero, quae unde quas ipsam numquam culpa ea id incidunt
            doloremque non atque dolorem cupiditate autem cum delectus maiores consectetur alias minima. Rem cumque
            officiis autem animi id, nostrum tempore temporibus, culpa, quisquam placeat omnis veniam earum. Quidem
            vitae maxime accusamus, iste ab earum amet ad ex perferendis mollitia eaque quam sint soluta veniam possimus
            repudiandae facilis voluptates quaerat cumque placeat neque assumenda! Earum minus quod hic quisquam porro
            dolore nulla eos quidem voluptates expedita reiciendis architecto, delectus aliquam beatae ad consequatur
            fuga explicabo, voluptate dolor officiis fugiat. Explicabo maiores inventore dolores labore! Odio ad ullam,
            consequuntur tempora quam ut dolor? Aspernatur ullam animi facere? Corrupti nam sapiente doloremque autem
            provident accusantium ut, similique tenetur possimus est ratione adipisci quidem maiores minima soluta
            voluptatum vitae sit dolorum molestiae vel distinctio non, quaerat harum! Cumque est ipsam pariatur unde
            sint sed molestiae excepturi tempora hic error exercitationem laboriosam fugiat, harum, aut vero adipisci
            corporis, maiores modi optio laudantium. Laboriosam modi repellat assumenda in animi, exercitationem
            officiis? Culpa quam ullam sapiente at repudiandae ipsum. Voluptate adipisci, animi delectus ea deserunt
            voluptatum eveniet, hic quod nisi quas ducimus tenetur eum. Numquam amet veniam ab nisi ullam expedita
            voluptate, unde distinctio, earum cum, voluptas laborum recusandae non possimus architecto ipsum similique!
            Accusantium odio at minus veniam voluptatum repudiandae cum, enim voluptatibus officia voluptates culpa
            velit, laborum illo saepe explicabo aperiam nulla ipsa minima amet fugit, consequatur ad iste architecto
            dolor? Veniam dolorum fugit fuga nihil ad. Aliquam eveniet, nobis tempore quidem dicta expedita pariatur
            obcaecati aperiam repellat culpa vero totam similique recusandae minima distinctio ipsam asperiores
            reiciendis ut. Id, saepe ad illum nesciunt rem itaque! Delectus, fugit culpa alias quidem neque eaque
            nesciunt quasi ab nisi illum ipsum id aspernatur libero reiciendis dolores, cum amet in dignissimos sequi
            officiis recusandae sit architecto. Dicta ad alias, quos dolorum repudiandae nesciunt aspernatur molestiae
            sequi nihil magni necessitatibus laboriosam, totam accusamus similique quae delectus exercitationem!
            Accusantium ipsa, dolorem excepturi inventore, dolores architecto, enim accusamus corrupti esse impedit amet
            quidem ex vitae! Totam porro, illo debitis aut nisi voluptatum fugiat error aliquam. Excepturi error
            temporibus repellendus placeat id, nostrum, inventore optio consequuntur dolore expedita nesciunt vero nulla
            autem eaque dolor, omnis quos dicta facere numquam. Assumenda debitis, saepe vitae quas nulla iure modi
            doloribus distinctio consequuntur. Reiciendis enim fugit nulla impedit placeat fugiat porro. Qui quod quis
            et minus nulla doloremque inventore, harum dolorum at, quos quam? Quae aliquid consectetur optio
            repudiandae, in nobis ea omnis nam eligendi, assumenda doloremque. Veniam, assumenda quibusdam adipisci
            excepturi eos architecto tenetur officiis eum voluptatum in corrupti esse ut, aperiam nihil doloremque
            tempore natus quaerat magnam id tempora ducimus! Quidem quasi harum reprehenderit explicabo porro corrupti
            nisi quis ipsum beatae tenetur omnis dolore perferendis sed assumenda consectetur illo excepturi incidunt
            delectus dolorum voluptatibus nostrum impedit, iure sapiente sint. Dolor, odit. Quas eius veritatis est
            voluptate officia, doloribus laborum nisi eaque laudantium impedit necessitatibus non a pariatur perferendis
            odit accusamus atque, vero eveniet? Unde nihil earum deleniti amet similique ea, temporibus suscipit est
            quos? Atque consequatur ex at ullam ab repudiandae consectetur explicabo, laboriosam, fugit harum blanditiis
            quasi obcaecati velit incidunt excepturi aut nemo, voluptatem repellat ipsam deleniti possimus porro
            delectus impedit aliquid! Ratione laboriosam repudiandae repellendus soluta mollitia ipsa quibusdam
            explicabo id corporis totam at ad facere blanditiis ab eos, nam vero ea? Nam fuga praesentium in excepturi.
        </p>
    </main>

    <footer>

    </footer>

</body>

</html>