<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about?name=Pinco">About</a></li>
                <li><a href="contacts">Contacts</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>contacts</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae explicabo minima accusantium expedita, quo
            sint cumque quas voluptatibus totam, laborum nostrum omnis eveniet non repellat maiores. Reprehenderit
            perferendis pariatur quod, ratione praesentium, voluptas tempore eaque molestiae ab commodi corporis
            accusantium atque voluptates suscipit quidem facilis aliquid! Accusamus dolor quos hic. Omnis illo impedit
            ratione odio nulla enim delectus consectetur nam autem saepe, numquam cum facilis velit iste possimus
            voluptas, corporis consequatur pariatur culpa architecto voluptate aliquam. Culpa aperiam quas beatae esse
            facere molestiae amet suscipit laudantium minima repellat a sed nulla perferendis consectetur, impedit
            nesciunt eveniet incidunt iste hic modi.</p>
    </main>

    <footer>

    </footer>

</body>

</html>