<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about?name=Pinco">About</a></li>
                <li><a href="contacts">Contacts</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>homepage</h1>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, quaerat dolorem. Doloribus ut nemo debitis
            at odio! Deleniti consequatur temporibus nam sequi deserunt? Ex in fugit praesentium explicabo corporis
            iusto aliquam sequi, laudantium nemo voluptatem! Qui reprehenderit illo veniam nam veritatis quidem nostrum
            neque mollitia animi aperiam deserunt dolorum temporibus optio, maxime quas cumque totam! Sed, nostrum
            deserunt provident placeat quisquam neque omnis aut quas, doloremque veniam laborum numquam. Suscipit sit
            possimus harum necessitatibus repellendus omnis delectus perferendis? Nisi quisquam deleniti reprehenderit
            accusantium voluptates hic tenetur soluta repellat id nulla eum dolor et porro possimus corporis, quae,
            tempora praesentium. Iure!</p>
    </main>

    <footer>

    </footer>

</body>

</html>